<!DOCTYPE html>
<html lang="en">


<div id="popup-container">
    <div id="popup">
        <h1 align= 'center'>Our Mission</h1>
        <p align= 'center'>Mission 1.</p>
        <div class="button-container">
            <button id= "popup-button" onclick="getLocation()">Back</button>
        </div class="button-container">
        <form id="location-form" method="post" action="/">
            {% csrf_token %}
            <input type="hidden" id="latitude" name="latitude" value="">
            <input type="hidden" id="longitude" name="longitude" value="">
        </form>

        <script>
            function getLocation() {
                document.getElementById("location-form").submit();
            }
        </script>
    </div>
</div>
