<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Password</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <label for="password">Enter Password:</label>
        <input type="password" id="password" name="password">
        <button type="submit">Submit</button>
    </form>
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
</body>

</html>